<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bike Trails</h1>
    <h2>This is a page where riders can share bike trails around cities near Olympia, Tacoma, Issaquah, and Seattle.</h2>
    <h3>Shred and share as much as possible, and let's make Washington, mecca for bike trails</h3>
    <form action="/trails/create" method="POST">

        <label>Trail Name:</label>
        <input type="text" name="title" placeholder="Trails" value="Provide Trail Name">

        <label>City:</label>
        <select name="city">
            <option value="Olympia">Olympia</option>
            <option value="Tacoma">Tacoma</option>
            <option value="Issaquah">Issaquah</option>
            <option value="Seattle">Seattle</option>
        </select>
        <button>Submit</button>
    
    </form>
</body>
</html>